// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

@font-face {
  font-family: "tiempos_headline";
  src: font-url('config/TiemposHeadlineWeb-Regular.eot') format("embedded-opentype");
  src: font-url('config/TiemposHeadlineWeb-Regular.woff') format("woff"),
       font-url('config/TiemposHeadlineWeb-Regular.woff2') format("woff2")
}
