.blog-show-image {
  object-fit: cover;
  object-position: 50% 50%;
}
.blog-text {
  line-height: 22px;
  p {
    margin: 24px 0;
    color: $tuatara;
  }
  p:first-child {
    margin: 0 0 24px 0;
  }
  h4 {
    margin: 24px 0;
  }
  @media (max-width: 767px) {
    padding-top: 16px;
  }
}
.blog-border {
  @media (min-width: 768px) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 16px 0;
  }
  padding: 0 0 8px 0;
}
.blog-text-margin {
  margin: 24px 0;
}
