.blog-show-image {
  object-fit: cover;
  object-position: 50% 50%;
}
.blog-text {
  line-height: 25px;
  p {
    margin: 24px 0;
    color: $tuatara;
  }
  p:first-child {
    margin: 0 0 24px 0;
  }
  @media (max-width: 767px) {
    padding-top: 16px;
  }
  li {
    font-size: 13px;
    padding-bottom: 10px;
    font-family: Open Sans;
    @media (min-width: 1200px) {
      font-size: 14px;
      line-height: 25px;
    }
  }
  a {
    text-decoration: underline;
    color: #15393B;
    &:hover {
      color: rgba(0,0,0,0.5);
    }
  }
}
.blog-border {
  @media (min-width: 768px) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4px 0;
  }
  padding: 0 0 8px 0;
}
.blog-text-margin {
  margin: 24px 0;
}
