.contact-container {
  width: 60%;
  p {
    margin: 64px auto;
    width: 80%;
    color: rgba(0,0,0,0.8);
  }
}
  .contact-text h3 {
  font-size: 14px;
  color: black;
}
.contact-text a {
  transition: .2s ease-in-out;
  &:hover {
    color: rgba(0,0,0,0.5);
    text-decoration: underline;
  }
}
.contact-logo {
  width: 160px;
}
