.contact-container {
  width: 60%;
  line-height: 22px;
  p {
    margin: 64px auto 32px auto;
    color: $tuatara;
  }
  @media (min-width: 768px) {
    width: 45%;
  }
  @media (min-width: 992px) {
    width: 40%;
  }
  @media (min-width: 1200px) {
    width: 35%;
  }
}
.contact-text {
  text-align: center;
  p {
    margin-bottom: 0;
  }
  a {
    transition: .2s ease-in-out;
    color: $tuatara;
    &:hover {
      color: rgba(0,0,0,0.5);
      text-decoration: underline;
    }
  }
}
.contact-logo {
  width: 160px;
}
