.nav.faq-nav .nav-link.active {
  color: #093031;
}
.nav.faq-nav .nav-link {
  padding: 1rem;
}
.card {
  border: none;
  background-color: #F6F6F6;
  @media (max-width: 565px) {
    margin: 0 16px ;
  }
}
.card-header {
  background-color: #F6F6F6;
  border-bottom: none;
  .btn {
    padding: 0;
    color: #093031;
    font-family: Montserrat;
    font-size: 14px;
    @media (max-width: 565px) {
      font-size: 13px;
      text-align: left;
    }
  }
}
.card-body {
  background-color: #F6F6F6;
  margin-left: 24px;
  p {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    font-weight: 400;
    font-family: Open Sans;
    line-height: 22px;
  }
}
.faq-nav {
  background-color: #F6F6F6;
  @media (max-width: 565px) {
    background-color: #DDDDDD;
    margin: 32px 16px 0px 16px;
    // border-top: 1px solid rgba(0,0,0,.3);
    // border-bottom: 1px solid rgba(0,0,0,.3);
    padding: 8px 0;
  }
  a {
    color: rgba(0,0,0,.5);
    font-family: Montserrat;
    font-size: 14px;
    @media (max-width: 565px) {
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.faq-nav .nav-link {
  @media (max-width: 565px) {
    max-width: 33%;
    text-align: center;
  }
}
.sm-faq-margin-top {
  @media (max-width: 565px) {
    margin-top: 32px;
  }
}
.faq-margin {
  @media (min-width: 992px) {
    margin: 80px;
  }
  @media (min-width: 566px) and (max-width: 991px) {
    margin: 80px 24px;
  }
  @media (max-width: 565px) {
    margin: 0 0 48px 0;
  }
}
.btn-link:focus {
  text-decoration:none;
}
