.guide-show-padding {
  @media (min-width: 992px) {
    padding: 0 48px 0 24px;
  }
  @media (max-width: 991px) {
    padding-bottom: 24px;
  }
}
.guide-show-margin {
  margin-top: 80px;
}
.guide-text p {
  line-height: 25px;
}
.fixed-guide {
  position: sticky;
  top: 120px;
}
