body {
  background-color: #F6F6F6;
  color: #191F1F;
}
h1 {
  font-size: 28px;
  font-family: tiempos_headline;
  letter-spacing: 0.5px;
  color: #191F1F;
  @media (max-width: 575px) {
    font-size: 22px;
  }
}
h2 {
  font-size: 24px;
  // font-size: 24px;
  font-family: tiempos_headline;
  letter-spacing: .5px;
  margin-bottom: 18px;
}
h3 {
  font-size: 18px;
  font-family: Montserrat;
  margin: .5rem 0;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-family: Montserrat;
}
h5 {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.2px;
  font-family: Montserrat;
  font-weight: 700;
  color: #15393B;
}
h6 {
  font-size: 12.5px;
  font-family: Open Sans;
  color: rgba(0,0,0,0.7);
  margin-bottom: 0rem;
}
p {
  font-size: 13px;
  font-family: Open Sans;
}
li {
  font-size: 12px;
}
a {
  color: rgb(0,0,0);
  &:hover {
    text-decoration: none;
  }
}
.paragraph {
  line-height: 22px;
}
.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 60vh;
  background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);
}
.banner .banner-container {
  align-self: center;
  text-align: center;
  @media (min-width: 992px) {
    max-width: 40%;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 45%;
  }
  @media (max-width: 767px) {
    max-width: 70%;
  }
  p {
    color: white;
    font-family: Montserrat;
    letter-spacing: 0.7px;
    margin-top: 32px;
    font-size: 13px;
  }
  h3 {
    letter-spacing: 1px;
    margin-top: 14px;
    color: white;
    @media (max-width: 565px) {
      font-size: 16px;
      letter-spacing: 0.8px;
    }
  }
}
.homepage-logo {
  width: 220px;
  @media (max-width: 565px) {
    width: 180px;
  }
}
.homepage-heading {
  margin: 80px 0;
  @media (max-width: 565px) {
    margin: 72px 0 56px 0;
  }
}
.homepage-heading h1 {
  margin-top: 30px;
  text-align: center;
}
.homepage-heading h1.back-line {
    position: relative;
    z-index: 1;
  &:before {
      border-top: .5px solid #191F1F;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      z-index: -1;
  }
  span {
      background: #F6F6F6;
      padding: 0 10px;
  }
}
.title {
  font-weight: bold;
  margin: 32px 0;
}
