body {
  background-color: #F6F6F6;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);
}
.banner p {
  color: white;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.4px;
}
.banner-container {
  text-align: center;
  @media (min-width: 768px) {
    max-width: 50%;
  }
  @media (max-width: 767px) {
    max-width: 60%;
  }
}
.homepage-heading {
  margin: 80px 0;
  @media (max-width: 565px) {
    margin: 72px 0 56px 0;
  }
}
.homepage-heading h2 {
    margin-top: 30px;
    font-size: 26px;
    text-align: center;
    font-family: tiempos_headline;
    letter-spacing: 0.5px;
}
.homepage-heading h2.back-line {
    position: relative;
    z-index: 1;
  &:before {
      border-top: 1px solid rgba(0,0,0,.3);
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      z-index: -1;
  }
  span {
      background: #F6F6F6;
      padding: 0 10px;
  }
}
.heading {
  margin: 150px 64px;
}
.home-btn {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 6px 10px;
  transition: ease .5s;
}
