.service-text-container {
  max-width: 85%;
  margin: auto;
  line-height: 22px;
  margin-bottom: 80px;
  @media (min-width: 992px) {
    line-height: 25px;
    max-width: 75%;
  }
}
#service-long-text-margin {
  @media (min-width: 768px) and (max-width: 991px) {
    margin: 27px 5px 10px 5px;
  }
}
.banner-service {
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);
}
.tri-services-container {
  padding: 0 20px;
  @media (min-width: 576px) and (max-width: 767px) {
    max-width: 550px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 640px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 750px;
  }
  @media (min-width: 1200px) {
    max-width: 900px;
  }
}
.tri-service-card p {
  @media (max-width: 575px) {
    margin-top: 104px;
    margin-bottom: 72px;
    font-size: 20px;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    margin-top: 42px;
    margin-bottom: 21px;
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 56px;
    margin-bottom: 28px;
    font-size: 15px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: 64px;
    margin-bottom: 32px;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    margin-top: 88px;
    margin-bottom: 44px;
    font-size: 18px;
  }
}
.sub-service-container {
    margin: 0 80px 64px 80px;
  @media (max-width: 575px) {
    margin: 0 48px 64px 48px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin: 0 40px 64px 40px;
  }
}
