.service-text-container {
  max-width: 85%;
  margin: auto;
  margin-bottom: 80px;
  color: rgba(0,0,0,0.7);
  line-height: 22px;
  p {
    margin-bottom: 2rem;
  }
  @media (min-width: 992px) {
    max-width: 65%;
  }
}
.tri-services-container {
  padding: 0 20px;
  @media (min-width: 576px) and (max-width: 767px) {
    max-width: 550px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 640px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 750px;
  }
  @media (min-width: 1200px) {
    max-width: 900px;
  }
}
.sub-page-container {
    margin: 0 80px 64px 80px;
  @media (max-width: 575px) {
    margin: 0 48px 64px 48px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin: 0 40px 64px 40px;
  }
  h3 {
    margin: 2rem 0 1rem 0;
  }
}
.service-margin-top {
  margin-top: 80px;
}
.sub-service-text {
  line-height: 22px;
  max-width: 95%;
  color: rgba(0,0,0,0.7);
  p {
    margin-bottom: 2rem;
  }
  li {
    font-size: 13px;
    padding-bottom: 10px;
  }
  a {
    text-decoration: underline;
    color: #15393B;
    &:hover {
      color: rgba(0,0,0,0.5);
    }
  }
}
