td {
  font-size: 12px;
  padding: 0 12px 0 0;
  color: $bottle;
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}
td a:hover {
  text-decoration: underline;
  color: $bottle;
}
.team-lines {
  @media (max-width: 767px) {
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    width: 100%;
  }
}
.team {
  h3 {
    margin: 1.5rem 0 0rem 0;
    color: $bottle;
    font-family: tiempos headline;
  }
  h6 {
    font-size: 12px;
    @media (min-width: 1200px) {
      font-size: 14px;
    }
  }
}
.team-bio p {
  @media (min-width: 1200px) {
    line-height: 28px;
    margin-top: 16px;
  }
}
