<% title 'Insurance for HNW Individuals' %>
<% description 'Protecting your world with specialist insurance is vital for your peace of mind. Our brokers can help.' %>
<% keywords 'Insurance, high value insurance, insurance for high net worth, insurance broker' %>

<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Insurance</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Insurance for High Net Worth Individuals</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          It’s all too easy to forget about insurance, especially if you’re in the midst of a busy period of your life – like buying a new house, moving, or even travelling extensively for work.
        </p>
        <p>
          But while insurance is rarely at the forefront of our minds, it’s something that nobody regrets having when things go wrong. This is especially true if you’re a high net worth individual (HNWI) who needs high value insurance, or a policy to cover unusual assets.
        </p>
        <p>
          Organising standard insurance is usually straightforward. It’s simply a case of going online, receiving an insurance quote, comparing premiums, and making a payment. High value insurance, however, is slightly different.
        </p>
        <p>
          Many standard policies may not be appropriate when the sums involved are very large, and these insurers may not have specialist appraisers in their team. Using a mainstream insurance provider could therefore leave you in a difficult spot at a time when you need support.
        </p>
        <p>
          Using an insurance broker like Articus Finance can help. From whole of life insurance cover, to contents insurance for those with luxury assets in their home, there are a range of ways we can help you to protect your family and your estate.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Sub-Services -->

<div class="container tri-services-container mb-5">
  <div class="row">
    <div class="col-12 col-sm-4">
      <a href="/life-insurance">
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>Life Insurance</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-4">
      <a href="/income-protection-insurance">
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>Income Protection Insurance</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-4">
      <a href="/buildings-contents-insurance">
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>Buildings and Contents Insurance</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>
