<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <a href="/blog_show">
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>11 July 2019</h5>
        <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium</p>
        <p class="mb-0 mt-1 appearing-text">Sed ut perspiciatis unde omnis natus sit sed ut perspiciatis unde omnis natus sit...</p>
      </div>
    </a>
  </div>
</div>
