<div class="col-xs-12 col-md-6 col-lg-4 mb-4">
  <div class="blog">
    <a href="/faqs">
      <div class="blog-hover">
        <div class="blog-image">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg">
          <div class="blog-img-overlay"></div>
        </div>
        <div class="p-3 blog-text-box">
          <p class="blog-card-date">11th JULY 2019</p>
          <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem Sed ut perspiciatis unde omnis</p>
          <div class="blog-text-overlay">
            <p class="mb-0 mt-1 blog-card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium…</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
