<div class="my-5">
  <a href="/case_study_show">
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="my-5">
  <a href="/case_study_show">
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://content.knightfrank.com/property/krd143776/images/11581ffc-f2c2-4418-9c47-113aaa521681-73.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="my-5">
  <a href="/case_study_show">
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://www.telegraph.co.uk/content/dam/luxury/2017/09/14/Grosvenor_trans_NvBQzQNjv4BqUqaMI1z2EfHVoF5m3l_L25GgoArIYx7OX2MEDvL6Npw.jpg?imwidth=480');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  </a>
</div>
