<div class="case-study-card my-4">
  <div class="case-study-card-image">
    <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg" alt="">
    <div class="case-study-img-overlay"></div>
  </div>
  <div class="px-3 case-study-card-text">
    <div>
      <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
      <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      <a href="">View case study</a>
    </div>
  </div>
</div>



