<div class="contact-page-form py-5">
  <div class="col-10 col-md-7 col-lg-6 text-center justify-content-center mx-auto mb-4">
    <div class="form-container">
      <h4 class="mb-4">Enquiry Form</h4>
      <div class="form-row">
        <div class="col">
          <input type="name" class="form-control" id="name" placeholder="First Name">
        </div>
        <div class="col">
          <input type="name" class="form-control" id="surname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="email" class="form-control" id="email" placeholder="Email Address">
        </div>
        <div class="col">
          <input type="name" class="form-control" id="phone" placeholder="Phone Number">
        </div>
      </div>
      <input type="email" class="form-control align-top" id="enquiry" placeholder="Your Enquiry">
      <button type="submit" class="w-100 home-btn green-btn">Submit Enquiry</button>
    </div>
  </div>
</div>
