<div class="col-10 col-md-7 col-lg-6 text-center justify-content-center m-auto">
  <div class="form-container">
    <p style="text-transform: uppercase;"class="footer-form-header">Enquiry Form</p>
    <div class="form-row">
      <div class="col">
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
      </div>
      <div class="col">
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
      </div>
      <div class="col">
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
      </div>
    </div>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Enquiry">
    <button type="submit" class="w-100 light-btn home-btn">Sign up</button>
  </div>
</div>
