<div class="container contact-banner pattern">
  <h2>Need Assistance?</h2>
  <p class="contact-links"><i class="fas fa-phone">&nbsp&nbsp&nbsp</i><a href="tel:02073000000">0207 300 0000</a> &nbsp|&nbsp <i class="far fa-envelope">&nbsp&nbsp&nbsp</i><a href="mailto:info@articusfinance.co.uk">info@articusfinance.co.uk</a></p>
  <a href="/contact" class="home-btn contact-btn">Contact Us</a>
</div>
