<div class="container contact-banner pattern">
  <h2>Need Assistance?</h2>
  <p class="contact-links"><i class="fas fa-phone">&nbsp&nbsp&nbsp</i><a href="tel:020730066440">0207 3006 6440</a> &nbsp|&nbsp <i class="far fa-envelope">&nbsp&nbsp&nbsp</i><a href="mailto:info@articusfinance.co.uk">info@articusfinance.co.uk</a></p>
  <%= link_to 'Contact Us', contact_path, class: "home-btn contact-btn" %>
</div>
