<div class="col-8 col-md-3 service-guide-padding">
  <div class="guide-card fixed-guide">
    <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568657365/ART-Brochure-PU-DW-13-09-19-full_copy.png">
    <div class="btn-container">
      <a href='ART-Brochure-PU-DW-13-09-19-full.pdf' target="_blank" rel="nofollow noreferrer" class="w-100 home-btn light-btn">View brochure</a>
    </div>
  </div>
  <%= render 'shared/modal' %>
</div>
