<div class="footer">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 text-center footer-margin">
        <%= image_tag "articus-finance-logo.png", class: "navbar-logo" %>
        <p class="footer-contact">Contact Us | FAQs</p>
        <div class="">
          <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a><a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a><a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-facebook mx-2"></i></a><a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram mx-2"></i></a>
        </div>
      </div>
      <div class="col-10 col-md-5 m-auto">
        <form>
          <div class="form-group">
            <h3 class="footer-form-header">To receive updates from Articus Finance sign up here:</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <p class="mt-3">We would like to send you occasional newsletters from Articus Finance. By clicking sign up you agree to join our mailing list. You can unsubscribe at any time.</p>
          </div>
          <button type="submit" class="w-100 home-btn btn-newsletter">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>

