<div class="footer">
  <div class="container footer-padding">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 col-lg-3 text-center py-4 center-footer">
        <div class="center-footer-inner">
          <%= image_tag "articus-finance-logo-green.png", class: "footer-logo" %>
          <p class="my-3">Contact Us | <a href="/faqs">FAQs</a></p>
          <div>
            <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a><a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a><a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-facebook mx-2"></i></a><a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram mx-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-8 col-md-5 col-lg-4">
        <form>
          <div class="form-group mb-2">
            <p class="footer-form-header">To receive updates from Articus Finance sign up here:</p>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <p class="mt-2 mb-1 mx-2 footer-newsletter">We would like to send you occasional newsletters from Articus Finance. By clicking sign up you agree to join our mailing list. You can unsubscribe at any time.</p>
          </div>
          <button type="submit" class="w-100 home-btn btn-newsletter">Sign up</button>
        </form>
      </div>
    </div>
  </div>
  <div class="text-center footer-company-details">
    <p class="mb-0 pb-3">Articus Finance Limited. Registered in England and Wales under Company No. 12003657. Registered Office: 12 Gough Square, London, EC4A 3DW. <a href="">Privacy Notice</a></p>
  </div>
</div>


