<div class="d-none d-sm-block">
  <div class="homepage-heading">
    <h1 class="back-line"><span>Guides</span></h1>
  </div>
  <div class="container guide-home-container mb-4">
    <div class="row">
      <div class="col-6 col-md-3 guide-padding">
        <div class="guide-card">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
          <div class="btn-container">
            <button class="home-btn">Download now</button>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 guide-padding">
        <div class="guide-card">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
          <div class="btn-container">
            <button class="home-btn">Download now</button>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 guide-padding">
        <div class="guide-card">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
          <div class="btn-container">
            <button class="home-btn">Download now</button>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 guide-padding">
        <div class="guide-card">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
          <div class="btn-container">
            <button class="home-btn">Download now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="guide-button-container mb-5">
    <button class="home-btn">View our guide library</button>
  </div>
</div>
