<div class="container guide-home-container mb-4">
  <div class="row">
    <div class="col-6 col-md-3 guide-padding">
      <div class="guide-card">
        <a href="/guide_show">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        </a>
        <div class="btn-container">
          <%= link_to "Download now", guide_show_path, class: "home-btn light-btn guide-btn" %>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 guide-padding">
      <div class="guide-card">
        <a href="/guide_show">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        </a>
        <div class="btn-container">
          <%= link_to "Download now", guide_show_path, class: "home-btn light-btn guide-btn" %>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 guide-padding">
      <div class="guide-card">
        <a href="/guide_show">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        </a>
        <div class="btn-container">
          <%= link_to "Download now", guide_show_path, class: "home-btn light-btn guide-btn" %>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 guide-padding">
      <div class="guide-card">
        <a href="/guide_show">
          <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        </a>
        <div class="btn-container">
          <%= link_to "Download now", guide_show_path, class: "home-btn light-btn guide-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>

