<div class="col-8 col-md-3 service-guide-padding">
  <div class="guide-card fixed-guide">
    <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png" data-toggle="modal" data-target="#exampleModal">
    <h5>Guide to High Value Mortgages For UK Property</h5>
    <div class="btn-container">
      <button type="button" class="w-100 home-btn light-btn" data-toggle="modal" data-target="#exampleModal">Download Now</button>
    </div>
  </div>
  <%= render 'shared/modal' %>
</div>
