<div class="sub-nav d-none d-lg-block">
  <ul class="d-flex justify-content-end">
    <li>About Us</li>
    <li><a href="/team">The Team</a></li>
    <li>Careers</li>
    <li>Introducers</li>
    <li><a href="/faqs">FAQs</a></li>
    <li><i class="fas fa-phone">&nbsp&nbsp&nbsp</i><a href="tel:02073000000">0207 300 0000</a></li>
  </ul>
  <div class="d-flex mt-3 mb-4">
    <div class="flex-grow-1 ml-4">
      <%= link_to "/" do %>
        <%= image_tag "articus-finance-logo-green.png", class: "navbar-logo ml-4" %>
      <% end %>
    </div>
    <div class="m-auto">
      <a class="sub-nav-btn" href="/contact">Contact Us</a>
    </div>
  </div>
</div>
<span class="position-absolute trigger"></span>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <%= link_to "/" do %>
    <%= image_tag "articus-finance-logo-white.png", class: "navbar-logo ml-4 my-4 d-block d-lg-none" %>
  <% end %>
  <button class="navbar-toggler mr-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex no-border" href="/service_home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p>Mortgages</p>
          <i class="fas fa-chevron-down d-block d-lg-none mr-3 pl-4"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item d-block d-lg-none" href="/service_home">Mortgages Home </a>
          <a class="dropdown-item" href="/sub_service">Purchase </a>
          <a class="dropdown-item" href="/sub_service">Remortgage</a>
          <a class="dropdown-item" href="/sub_service">Interest Only</a>
          <a class="dropdown-item" href="/sub_service">High Loan To Value</a>
          <a class="dropdown-item" href="/sub_service">Self-Employed</a>
          <a class="dropdown-item" href="/sub_service">Expat</a>
          <a class="dropdown-item" href="/sub_service">Foreign National</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex" href="/service_home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p>Buy-to-let</p>
          <i class="fas fa-chevron-down d-block d-lg-none mr-3 pl-4"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item d-block d-lg-none" href="/service_home">Buy-to-let Home</a>
          <a class="dropdown-item" href="/sub_service">Purchase</a>
          <a class="dropdown-item" href="/sub_service">Remortgage</a>
          <a class="dropdown-item" href="/sub_service">Limited Company</a>
          <a class="dropdown-item" href="/sub_service">Portfolio Landlord</a>
          <a class="dropdown-item" href="/sub_service">House in Multiple Occupation</a>
          <a class="dropdown-item" href="/sub_service">Expat</a>
          <a class="dropdown-item" href="/sub_service">Foreign National</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex" href="/service_home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p>Bridging</p>
          <i class="fas fa-chevron-down d-block d-lg-none mr-3 pl-4"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item d-block d-lg-none" href="/service_home">Bridging Home</a>
          <a class="dropdown-item" href="/sub_service">Residential</a>
          <a class="dropdown-item" href="/sub_service">Non-Regulated</a>
          <a class="dropdown-item" href="/sub_service">Second Charge</a>
          <a class="dropdown-item" href="/sub_service">Property Refurbishment Finance</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex" href="/service_home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p>Insurance</p>
          <i class="fas fa-chevron-down d-block d-lg-none mr-3 pl-4"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item d-block d-lg-none" href="/service_home">Insurance Home</a>
          <a class="dropdown-item" href="/sub_service">Life Insurance</a>
          <a class="dropdown-item" href="/sub_service">Income Protection</a>
          <a class="dropdown-item" href="/sub_service">Buildings and Contents</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p>Insight & Opinion</p>
          <i class="fas fa-chevron-down d-block d-lg-none mr-3 pl-4"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 180px;">
          <a class="dropdown-item" href="/guides">Guides</a>
          <a class="dropdown-item" href="/case_studies">Case Studies</a>
          <a class="dropdown-item" href="/blog">Blog</a>
        </div>
      </li>
      <li class="nav-item dropdown cursor-pointer d-block d-lg-none">
        <a class="nav-link dropdown-toggle d-flex" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <p>About Us</p>
        </a>
      </li>
      <li class="nav-item dropdown cursor-pointer d-block d-lg-none">
        <a  href="/team" class="nav-link dropdown-toggle d-flex" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <p>The Team</p>
        </a>
      </li>
      <li class="nav-item dropdown cursor-pointer d-block d-lg-none">
        <a class="nav-link dropdown-toggle d-flex" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <p>Careers</p>
        </a>
      </li>
      <li class="nav-item dropdown cursor-pointer d-block d-lg-none">
        <a class="nav-link dropdown-toggle d-flex" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <p>Introducers</p>
        </a>
      </li>
      <li class="nav-item dropdown cursor-pointer d-block d-lg-none">
        <a href="/faqs" class="nav-link d-flex" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <p>FAQs</p>
        </a>
      </li>
      <li class="nav-item dropdown cursor-pointer d-block d-lg-none">
        <a href="/faqs" class="nav-link dropdown-toggle d-flex" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <p>Contact Us</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
