<div class="container proven-expertise">
  <div class="row">
    <div class="col-12 col-sm-6 proven-expertise-img d-none d-sm-block" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566546292/034_Hazeldine_20190813_MH16111_Proof.jpg);background-position: center;">
    </div>
    <div class="col-12 col-sm-6 m-auto expertise-text-box">
      <h2>Proven Expertise</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <%= link_to 'View our case studies', case_studies_path, class: "green-btn home-btn" %>
    </div>
  </div>
</div>
