<div class="container proven-expertise">
  <div class="row">
    <div class="col-12 col-sm-6 proven-expertise-img d-none d-sm-block" style="background-image: linear-gradient(rgba(25, 31, 31, 0.35), rgba(25, 31, 31, 0.35)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566546292/034_Hazeldine_20190813_MH16111_Proof.jpg);background-position: center;">
    </div>
    <div class="col-12 col-sm-6 m-auto expertise-text-box">
      <h2>Proven Expertise</h2>
      <p>Our specialist mortgage brokers are highly experienced in negotiating the best mortgages and mortgage rates, no matter how complex your situation.</p>
      <p class="mb-4">With over 20 years’ combined experience sourcing the best mortgage deals for global clients, our brokers have the skills, knowledge, and lender relationships to turn your property aspirations into a reality. To find out how we do it, explore our case studies.</p>
      <%= link_to 'View our case studies', case_studies_path, class: "green-btn home-btn" %>
    </div>
  </div>
</div>
