<div class="homepage-heading">
  <h2 class="back-line"><span>Our Services</span></h2>
</div>
<div class="container services-container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <%= link_to mortgages_path do %>
        <div class="card-style service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.55),rgba(25,31,31,0.55)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049023/03_Hazeldine_20190813_MH15851_Screen.jpg);">
          <div class="service-card-title">
            <h3>Mortgages</h3>
          </div>
          <div class="service-card-padding">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <%= link_to buy_to_let_mortgages_path do %>
        <div class="card-style service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.55),rgba(25,31,31,0.55)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049031/11_Hazeldine_20151003_MH18394_Screen.jpg);">
          <div class="service-card-title">
            <h3>Buy-to-let</h3>
          </div>
          <div class="service-card-padding">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <%= link_to bridging_loans_path do %>
        <div class="card-style service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.55),rgba(25,31,31,0.55)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049975/iStock-927998160.jpg);">
          <div class="service-card-title">
            <h3>Bridging</h3>
          </div>
          <div class="service-card-padding">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <%= link_to insurance_path do %>
        <div class="card-style service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.55),rgba(25,31,31,0.55)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568050162/AdobeStock_163124302.jpg);">
          <div class="service-card-title">
            <h3>Insurance</h3>
          </div>
          <div class="service-card-padding">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
