<div class="homepage-heading">
  <h1 class="back-line"><span>Our Services</span></h1>
</div>
<div class="container services-container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <a href="/service_home">
        <div class="card-style service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Mortgages</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card-style service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Buy-to-let</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card-style service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Bridging</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card-style service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Insurance</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
