<div class="col-12 col-sm-6 col-md-3">
  <a href="/residential-bridging-loans">
    <div class="card-style service-card service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
      <div class="service-card-title">
        <h3>Residential Bridging Loans</h3>
      </div>
      <div class="service-card-padding">
        <button class="home-btn">Read More</button>
      </div>
    </div>
  </a>
</div>
