<% set_meta_tags title: 'About Articus Finance',
                 description: 'Discover how Articus Finance was started by a team of experienced mortgage brokers who wanted to do things differently and more efficiently.',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.4), rgba(25, 31, 31, 0.4)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568050167/AdobeStock_83642256.jpg); background-position: center;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>About Us</h3>
  </div>
</div>
<div class="container auxiliary-margin">
  <div class="service-text-container text-center">
    <p>
      Articus Finance is a London-based mortgage broker which specialises in property finance and insurance for high net worth clients from around the globe. Located in the heart of the City, our team of experts have over 20 years’ combined experience securing outcomes for wealthy clients with UK assets.
    </p>
    <p>
      From residential property to buy to let portfolios, refurbishment projects to short term bridging requirements, our highly skilled brokers can assist with a full range of requirements.
    </p>
    <p>
      We serve a global client base and can help you achieve your objectives – whether that’s the best mortgage rate or the speediest resolution – no matter your nationality, income structure, or situation.
    </p>
    <p>
      In our eyes, there’s no case too complicated – we believe our clients are involved in some of the most interesting transactions in the UK and we thrive on using our ingenuity and network to find solutions where others can’t.
    </p>
    <p>
      As a specialist mortgage broker, our offering is built around service, knowledge, relationships and trust.
    </p>
    <div>
      <ul class="text-left">
        <li>Our clients are busy people, so we know they need exceptional customer service and a straightforward approach that gets the right result, at speed, and at the right price</li>
        <li>We provide this through our deep knowledge of the market and by staying up to date with every new development in the world of mortgages and insurance</li>
        <li>This is complemented by our outstanding industry relationships. As a whole of market broker, we deal with many lenders, from private banks to smaller, niche players</li>
        <li>Transparency underpins everything we do, and we believe the best results can only be gained by working with honesty, integrity, and respect</li>
      </ul>
    </div>
  </div>
</div>
<%= render 'shared/contact_banner_pattern' %>
