<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.4), rgba(25, 31, 31, 0.4)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565535533/AdobeStock_83642256_Preview.jpg); background-position: top;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>About Us</h3>
  </div>
</div>
