<%= render 'shared/blog_meta_tags' %>

<div class="container my-5 justify-content-center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-8">
      <div class="mb-3">
        <img class="w-100 blog-show-image" src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099792/istockphoto-486585598-1024x1024.jpg">
      </div>
    </div>
  </div>
  <div class="row justify-content-center blog-text-margin">
    <div class="col-11 col-sm-9 col-md-9 col-lg-7 p-0">
      <h1>Introducing Articus Finance: a New Specialist Mortgage Broker</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-md-3 col-lg-2">
      <div class="blog-border">
        <h5 class="mt-2">Updated on:</h5>
        <h5 class="mb-2">1 August 2019</h5>
      </div>
    </div>
    <div class="col-11 col-sm-9 col-md-6 col-lg-5 blog-text">
      <p>Articus Finance is pleased to announce the formal launch of our new website, marking a successful first summer of operations.</p>
      <p>Articus is a specialist mortgage broker based in London, just a few minutes walk from Bank station. We source UK mortgages over £500,000, with particular expertise in complex transactions, alongside specialist insurance policies. As a whole of market broker, we serve a global client base and have experience working with worldwide investors.</p>
      <p class="title">The Articus team</p>
      <p>A team of three finance experts heads Articus, including: CEO Antonio Michael, Founding Director Oliver Hines-Lloyd, and Managing Director Shyan Zubair. Combined, they have over 20 years’ experience in property and mortgage finance for wealthy individuals. <a href="/our-team">Find out more here.</a></p>
      <p class="title">What does Articus offer?</p>
      <p>Articus can assist with a range of different transactions, including residential property finance, buy to let mortgages, short-term bridging finance, and insurance for high net worth individuals.</p>
      <p>‘For individuals seeking large mortgages in London and the wider UK, the high street can be a frustrating experience – and it’s undoubtedly difficult to access the best large mortgage deals without the help of a specialist broker,’ says CEO Antonio Michael, on his motivation for launching Articus. ‘That’s exactly what Articus is all about. Our combined experience means we’re ideally placed to negotiate with lenders across the market, ensuring that our clients are able to realise their property aspirations at speed.’</p>
      <p>Articus’ offering is built around <a href="/about">four key pillars</a>, each designed to deliver a premium experience for high net worth clients seeking finance in the UK. This includes bespoke service, specialist knowledge, wide-reaching industry relationships, and a commitment to transparency and trust.</p>
      <p>Founding Director Oliver Hines-Lloyd comments: ‘In the world of high-value mortgage broking, relationships are everything – so it’s important to us that we have a clear mission statement about the level of service we’d like to provide. This – combined with our expert industry knowledge and close lender relationships – enables us to offer something very special for our clients.’</p>
      <p style="font-style: italic;" class="mt-5"><span>For more information about Articus and its service, get in touch on <a href="tel:020 3006 6440">020 3006 6440</a> or email <a href="mailto:info@articusfinance.co.uk">info@articusfinance.co.uk</a>. Or, if you’re interested in the UK’s high-value mortgage market, download our guide, </span><a href="/guide-show">Overcoming the challenges of the £1 million plus mortgage</a>.</p>
    </div>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Other Blog Posts</span></h1>
</div>

<div class="container">
    <div class="row blog-row my-5 justify-content-center">
      <%= render 'shared/blog_card' %>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>

