<% set_meta_tags title: 'Careers',
                 description: 'Are you looking to jumpstart your career in the London mortgages industry or simply looking for a change of scenery? Discover our career possibilities here.',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568050126/AdobeStock_157405937.jpg);background-position: top;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Careers – Work With Us</h3>
  </div>
</div>
<div class="container auxiliary-margin">
  <div class="service-text-container text-center">
    <p>
      Are you looking for a new position? We’re always interested in hearing from motivated people with a background in financial advice – or those with the hunger to learn and grow. If you’d like to work with us, we’d be happy to have a confidential chat via email or phone. You can find out more about life at Articus Finance below.
    </p>
    <h3 class="my-5">Working at Articus</h3>
    <p>
      At Articus, every day presents a fresh challenge to embrace. In the world of high net worth mortgage finance and insurance, we work with a wide variety of clients and there’s no such thing as a ‘standard’ deal, and a great deal of the work we do is completely bespoke. So, while challenging, every new case is an interesting one.
    </p>
    <p>
      As such, our ability to negotiate with lenders and our deep understanding of the market is fundamental to our success. We therefore place a high value on continual learning and development, whether that’s our mortgage market knowledge or simply building relationships. In short, whether we’re meeting clients at the office, visiting sites, or strengthening our relationships with lenders, our days are busy but fulfilling.
    <h3 class="my-5">Our culture</h3>
    <p>
      We pride ourselves on our excellent industry relationships, specialist knowledge, commitment to offering a bespoke service, and our pursuit of transparent, honest relationships with clients.
    </p>
    <p>
      But we also know that premium customer service begins with our employees, who feel empowered to do their best work in a supportive and stimulating environment. We’re a close-knit team that prizes creativity, determination and honesty – and of course, plenty of positivity and humour in the face of challenging situations.
    </p>
    <p>
      In our experience, success in this industry is all about the ability to build strong relationships, so we strive to nurture this trait in our team. However, we also value those with the confidence to work independently and take a fresh look at a situation. And we believe people thrive when they’re given the respect and the space to work in the way that suits them.
    </p>
  </div>
</div>
<%= render 'shared/contact_banner_pattern' %>
