<% set_meta_tags title: 'Careers',
                 description: 'Are you looking to jumpstart your career in the London mortgages industry or simply looking for a change of scenery? Discover our career possibilities here.',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568050126/AdobeStock_157405937.jpg);background-position: top;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Careers</h3>
  </div>
</div>
