<%= render 'shared/case_meta_tags' %>

<div class="container my-5 justify-content-center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-8">
      <div class="mb-3">
        <img class="w-100 blog-show-image" src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049049/18_Hazeldine_20190813_MH15749_Screen.jpg">
      </div>
    </div>
  </div>
  <div class="row justify-content-center blog-text-margin">
    <div class="col-11 col-sm-9 col-md-8 col-lg-6 p-0">
      <h5 class="mt-4">Case Study</h5>
      <h1 class="mt-3">High Loan to Value Property Purchase for UK National</h1>
      <div class="blog-text mt-5">
        <p>In the UK, very few of the easily accessible high street lenders have an appetite for high-value mortgages. Many have historically capped their lending at around the £1 million mark. While we’ve seen this increase in recent years, the fact remains that mainstream banks usually aren’t the best route for wealthy individuals – particularly those who have some complexity to their situation.</p>
        <p>On occasion, a specialist private bank is the only solution – as we proved for this client, seeking to purchase a £3 million property in London with minimal deposit.</p>
        <p class="title">The client:</p>
        <p>The client was a UK national, hoping to purchase a beautiful five-bed residential property in London. However, his current home had yet to sell, meaning he couldn’t access the funds he needed at that time.</p>
        <p>One way he <span style="font-style: italic;">would</span> be able to proceed with the sale was by securing a high loan to value (LTV) mortgage with a very small deposit. By taking out such a mortgage on a short fixed term period – say, two years – the client would then be able to pay down a large chunk of the loan and significantly reduce the LTV once his old property had sold.</p>
        <p>Unfortunately, arranging high LTV mortgages can be difficult at the best of times – and when the amount exceeds £2 million, it becomes even more tricky. He was also keen to secure this on an interest-only basis, to keep the monthly repayments manageable.</p>
        <p class="title">The solution:</p>
        <p>We know from experience that this sort of case is best placed with a specialist. So, we set about approaching private banks, and were able to secure terms with a prestigious lender that deals exclusively with wealthy clients – and will often only work on cases presented via a broker.</p>
        <p>With this lender, we were able to secure a two-year fixed term rate at 95% LTV, on an interest-only repayment basis. This is a great example of how access to a private lender can help you achieve mortgage terms that simply wouldn’t be possible with a mainstream bank.</p>
        <p class="title">The case in brief:</p>
        <ul>
          <li>UK national awaiting the sale of his current home</li>
          <li>Seeking a high LTV mortgage for a £3 million property</li>
          <li>Two-year fixed term interest-only rate</li>
          <li>Secured with a prestigious private bank</li>
        </ul>
        <p style="font-style: italic;" class="mt-5"><span>Interested in learning more about accessing property finance over £1 million? Download our free guide, </span><a href="/guide-show">Overcoming the challenges of the £1 million plus mortgage</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Other Case Studies</span></h1>
</div>

<div class="container pb-5 container-case-studies">
  <%= render 'shared/case_study_card' %>
</div>

<%= render 'shared/contact_banner' %>
