<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Contact Us</h3>
  </div>
</div>

<div class="container contact-container my-5">
  <div class="service-text-container contact-text">
    <div class="text-center">
      <p>
      Whatever your enquiry, we will endeavour to be of assistance to you. Feel free to call us or send us an email, or alternatively please complete the form below or request a call back from one of our brokers.
      </p>
    </div>
    <div class="text-center mt-5">
      <h3><i class="fas fa-phone">&nbsp&nbsp&nbsp</i><a href="tel:02073000000">0207 300 0000</a> &nbsp|&nbsp <i class="far fa-envelope">&nbsp&nbsp&nbsp</i><a href="mailto:info@articusfinance.co.uk">info@articusfinance.co.uk</a></h3>
      <h3 class="mt-4">Articus Finance Limited</h3>
      <h3>Birchin Court</h3>
      <h3>20 Birchin Lane</h3>
      <h3>London</h3>
      <h3>EC3V 9DU</h3>
    </div>
  </div>
</div>

<div style="background-color: #EEEEEE; text-align: center; padding: 40px 0;">
  <img style="width:60%;" src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1564052450/Screen_Shot_2019-07-25_at_11.58.55.png" alt="">
</div>

<%= render 'shared/proven_expertise' %>
