<div class="banner banner-service">
  <div class="banner-container container">
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Frequently Asked Questions</span></h1>
</div>


<div class="row faq-margin">
  <div class="col-12 col-sm-3 border-right">
    <div class="nav faq-nav flex-sm-column justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">General</a>
      <a class="nav-link" id="v-pills-types-tab" data-toggle="pill" href="#v-pills-types" role="tab" aria-controls="v-pills-types" aria-selected="false">Different Types of Mortgages</a>
      <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="false">About Articus Finance</a>
      <a class="nav-link" id="v-pills-btl-tab" data-toggle="pill" href="#v-pills-btl" role="tab" aria-controls="v-pills-btl" aria-selected="true">How does buy-to-let work?</a>
      <a class="nav-link" id="v-pills-insurance-tab" data-toggle="pill" href="#v-pills-insurance" role="tab" aria-controls="v-pills-insurance" aria-selected="false">Mortgage Insurance</a>
      <a class="nav-link" id="v-pills-fees-tab" data-toggle="pill" href="#v-pills-fees" role="tab" aria-controls="v-pills-fees" aria-selected="false">Fees</a>
    </div>
  </div>
  <div class="col-12 col-sm-9 sm-faq-margin-top">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  General - Our service fee
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="pl-4 collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>In order to achieve our long term vision and mission, we created Maanch as a sustainable platform. We charge a 5% service fee to continue the development and growth of our market offering and global exposure.</p>
                <p>Our service fee is only charged on successful funding of projects, proving the need and effectiveness of our product for Funders and Receivers. This fee is built on top of the project funding needed, meaning that 100% of requested funds will go to the project.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  General - How does the platform work?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="pl-4 collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Maanch is transforming philanthropy as the first online platform to enable effective funding and receiving through automated impact measurement based on UN SDG metrics.</p>
                <p>Our strong algorithmic base provides a global measurement and matchmaking tool. We facilitate funding between Funders and Receivers and automate impact measurement to encourage intelligent grant-making, effective communication and diligent performance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-types" role="tabpanel" aria-labelledby="v-pills-types-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Types - Our service fee
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>In order to achieve our long term vision and mission, we created Maanch as a sustainable platform. We charge a 5% service fee to continue the development and growth of our market offering and global exposure.</p>
                <p>Our service fee is only charged on successful funding of projects, proving the need and effectiveness of our product for Funders and Receivers. This fee is built on top of the project funding needed, meaning that 100% of requested funds will go to the project.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Types - How does the platform work?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Maanch is transforming philanthropy as the first online platform to enable effective funding and receiving through automated impact measurement based on UN SDG metrics.</p>
                <p>Our strong algorithmic base provides a global measurement and matchmaking tool. We facilitate funding between Funders and Receivers and automate impact measurement to encourage intelligent grant-making, effective communication and diligent performance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  About - Our service fee
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>In order to achieve our long term vision and mission, we created Maanch as a sustainable platform. We charge a 5% service fee to continue the development and growth of our market offering and global exposure.</p>
                <p>Our service fee is only charged on successful funding of projects, proving the need and effectiveness of our product for Funders and Receivers. This fee is built on top of the project funding needed, meaning that 100% of requested funds will go to the project.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  About - How does the platform work?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Maanch is transforming philanthropy as the first online platform to enable effective funding and receiving through automated impact measurement based on UN SDG metrics.</p>
                <p>Our strong algorithmic base provides a global measurement and matchmaking tool. We facilitate funding between Funders and Receivers and automate impact measurement to encourage intelligent grant-making, effective communication and diligent performance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="v-pills-btl" role="tabpanel" aria-labelledby="v-pills-btl-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  BTL - Our service fee
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>In order to achieve our long term vision and mission, we created Maanch as a sustainable platform. We charge a 5% service fee to continue the development and growth of our market offering and global exposure.</p>
                <p>Our service fee is only charged on successful funding of projects, proving the need and effectiveness of our product for Funders and Receivers. This fee is built on top of the project funding needed, meaning that 100% of requested funds will go to the project.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  BTL - How does the platform work?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Maanch is transforming philanthropy as the first online platform to enable effective funding and receiving through automated impact measurement based on UN SDG metrics.</p>
                <p>Our strong algorithmic base provides a global measurement and matchmaking tool. We facilitate funding between Funders and Receivers and automate impact measurement to encourage intelligent grant-making, effective communication and diligent performance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-insurance" role="tabpanel" aria-labelledby="v-pills-insurance-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Insurance - Our service fee
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>In order to achieve our long term vision and mission, we created Maanch as a sustainable platform. We charge a 5% service fee to continue the development and growth of our market offering and global exposure.</p>
                <p>Our service fee is only charged on successful funding of projects, proving the need and effectiveness of our product for Funders and Receivers. This fee is built on top of the project funding needed, meaning that 100% of requested funds will go to the project.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Insurance - How does the platform work?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Maanch is transforming philanthropy as the first online platform to enable effective funding and receiving through automated impact measurement based on UN SDG metrics.</p>
                <p>Our strong algorithmic base provides a global measurement and matchmaking tool. We facilitate funding between Funders and Receivers and automate impact measurement to encourage intelligent grant-making, effective communication and diligent performance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-fees" role="tabpanel" aria-labelledby="v-pills-fees-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Fees - Our service fee
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>In order to achieve our long term vision and mission, we created Maanch as a sustainable platform. We charge a 5% service fee to continue the development and growth of our market offering and global exposure.</p>
                <p>Our service fee is only charged on successful funding of projects, proving the need and effectiveness of our product for Funders and Receivers. This fee is built on top of the project funding needed, meaning that 100% of requested funds will go to the project.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Fees - How does the platform work?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Maanch is transforming philanthropy as the first online platform to enable effective funding and receiving through automated impact measurement based on UN SDG metrics.</p>
                <p>Our strong algorithmic base provides a global measurement and matchmaking tool. We facilitate funding between Funders and Receivers and automate impact measurement to encourage intelligent grant-making, effective communication and diligent performance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
