<% set_meta_tags title: 'All Mortgage Guides from Articus Finance',
                 description: 'Read our mortgage guides to gain a highly detailed understanding of how different types of mortgages work, and what to look out for.',
                 reverse: true %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Our Guide Library</span></h1>
</div>

<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>

<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>

<div class="container">
  <div class="service-text-container mt-5">
    <p>
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
  </div>
</div>

<%= render 'shared/contact_banner' %>
<%= render 'shared/services' %>
