<% set_meta_tags title: 'Mortgage Introducers',
                 description: 'Do you have mortgage business in London or the United Kingdom you can introduce to us? Contact us for fees and conditions.',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.5), rgba(25, 31, 31, 0.5)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568192750/AdobeStock_214578884.jpg);">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Introducers</h3>
  </div>
</div>


<!-- <div class="container auxiliary-margin">
  <div class="service-text-container text-center">
    <p>
      We know that assisting wealthy individuals with their financial transactions can be an intricate task. When a client’s situation is complicated, they usually need highly specialist advice in order to achieve the right result – and during a multi-step process like purchasing property, it’s not hard to see how an entire ecosystem of advisers might become necessary.
    </p>
    <p>
      We’re therefore very happy to receive referrals from other industry professionals, including but not limited to estate agents, solicitors, tax advisors and accountants. And, as a specialist in complex cases, we’re also keen to hear from other brokers who have been unable to find an appropriate solution and would like to direct their client further.
    </p>
    <p>
      We have a formal introducer policy that ensures you receive a fee for your referral. Frequently, this leads to the development of long term relationships between our brokers and introducers, meaning we can assist at speed should another complex case cross your path in the future.
    </p>
    <p>
      If you would like to know more about working as an introducer with Articus Finance, contact us today for an initial chat about our arrangements and how we can work together.
    </p>
    <h3 class="my-5">Becoming a trusted partner </h3>
    <p>
      Are you a property or financial advice specialist? We regularly work with trusted advisory partners, referring our clients on to receive bespoke advice in the areas of property purchasing, tax, and legal issues, among other things. If you feel your service might be of benefit to our high net worth clients, get in touch to arrange a conversation about how we might work together.
    </p>
  </div>
</div> -->

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          We know that assisting wealthy individuals with their financial transactions can be an intricate task. When a client’s situation is complicated, they usually need highly specialist advice in order to achieve the right result – and during a multi-step process like purchasing property, it’s not hard to see how an entire ecosystem of advisers might become necessary.
        </p>
        <p>
          We’re therefore very happy to receive referrals from other industry professionals, including but not limited to estate agents, solicitors, tax advisors and accountants. And, as a specialist in complex cases, we’re also keen to hear from other brokers who have been unable to find an appropriate solution and would like to direct their client further.
        </p>
        <p>
          We have a formal introducer policy that ensures you receive a fee for your referral. Frequently, this leads to the development of long term relationships between our brokers and introducers, meaning we can assist at speed should another complex case cross your path in the future.
        </p>
        <p>
          If you would like to know more about working as an introducer with Articus Finance, contact us today for an initial chat about our arrangements and how we can work together.
        </p>
        <p class="title">Becoming a trusted partner</p>
        <p>
          Are you a property or financial advice specialist? We regularly work with trusted advisory partners, referring our clients on to receive bespoke advice in the areas of property purchasing, tax, and legal issues, among other things. If you feel your service might be of benefit to our high net worth clients, get in touch to arrange a conversation about how we might work together.
        </p>
      </div>
    </div>
    <%= render 'shared/corporate_brochure' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
