<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.5), rgba(25, 31, 31, 0.5)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565547837/AdobeStock_214578884_Preview.jpg);">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Introducers</h3>
  </div>
</div>
