<% set_meta_tags title: 'Privacy Policy',
                 description: 'The Articus Finance mortgages privacy policy contains all details on how we ensure your privacy is guaranteed at all times.',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049970/iStock-1049399636.jpg); background-position: center;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Privacy Policy</h3>
  </div>
</div>
