<div class="banner banner-service">
  <div class="banner-container container">
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Mortgages</span></h1>
</div>

<div class="container">
  <div class="service-text-container">
    <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
    <p>
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
  </div>
</div>

<!-- Sub-Services -->

<div class="container tri-services-container mb-5">
  <div class="row">
    <div class="col-12 col-sm-4">
      <a href="/sub_service">
        <div class="card-style tri-service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Purchase</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-4">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card-style tri-service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Remortgage</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-4">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card-style tri-service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Expat</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Contact Banner -->

<div class="container contact-banner contact-banner-green">
  <h2>Need Assistance?</h2>
  <p>0207 3000 0000 | info@articusfinance.co.uk</p>
  <button class="home-btn">Contact Us</button>
</div>

