<div class="banner banner-service">
  <div class="banner-container container">
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Purchase Mortgages</span></h1>
</div>

<div class="sub-service-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div style="line-height: 25px; max-width: 95%;">
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3 service-guide-padding d-none d-md-block">
      <div class="guide-card">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        <div class="btn-container">
          <button class="home-btn">Download now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Proven Expertise Container -->

<div class="container proven-expertise">
  <div class="row">
    <div class="col-12 col-sm-6 proven-expertise-img d-none d-sm-block" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
    </div>
    <div class="col-12 col-sm-6 m-auto expertise-text-box">
      <h2>Scenario Case Study</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <button class="home-btn">Find out more</button>
    </div>
  </div>
</div>

<!-- Related Services -->

<div class="homepage-heading">
  <h1 class="back-line"><span>Related Services</span></h1>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <a href="/service_home">
        <div class="card service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Mortgages</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Buy-to-let</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Bridging</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a href="https://spf.co.uk/services/mortgages/">
        <div class="card service-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="card-padding">
            <p>Insurance</p>
            <button class="home-btn">Read More</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Contact Banner -->

<div class="container contact-banner pattern">
  <h2>Need Assistance?</h2>
  <p>0207 3000 0000 | info@articusfinance.co.uk</p>
  <button class="home-btn">Contact Us</button>
</div>
