<% set_meta_tags title: 'Meet The Team',
                 description: 'The Articus Finance team is highly experienced in negotiating and securing high networth mortgages for complex clients and situations.',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.35), rgba(25, 31, 31, 0.35)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568050129/AdobeStock_101549706.jpg);">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <div>
      <h3>The Team</h3>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 col-lg-3 service-guide-padding">
      <div class="guide-card team">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566929007/ART-Photography-Team-Antonio-m.jpg">
        <h3>Antonio Michael</h3>
        <h4 class="mb-0 mt-1">CEO</h4>
        <div class="team-lines">
          <table>
            <tr>
              <td><h6>E:</h6></td>
              <td>
                <a href="mailto:antonio@articusfinance.co.uk">antonio@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio">
      <div>
        <p>
        Antonio has over a decade’s experience arranging and negotiating mortgage finance for some of the UK property market’s most complex transactions. During his career, he has worked at some of the UK’s most prestigious mortgage brokerages, as well as the fast-paced world of currency broking. As a result, he has a wealth of relevant experience in handling complicated cases, like clients buying properties through trusts. Crucially, Antonio has developed an almost unparalleled network of close industry relationships. This enables him to navigate challenging situations with ease, and he relishes taking on cases that have struggled to progress elsewhere and seeing them through to completion.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 col-lg-3 service-guide-padding">
      <div class="guide-card team">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566928986/ART-Photography-Team-Oliver-m.jpg">
        <h3>Oliver Hines-Lloyd</h3>
        <h4 class="mb-0 mt-1">Founding Director</h4>
        <div class="team-lines">
          <table>
            <tr>
              <td><h6>E:</h6></td>
              <td>
                <a href="mailto:oliver@articusfinance.co.uk">oliver@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio">
      <div>
        <p>
        Ollie entered the world of high net worth mortgages after living in Geneva, where he provided tailored  financial advice to private clients. This experience shaped his career trajectory, giving him first-hand experience in understanding and communicating the benefits of financial advice – all while developing the ability to build exceptional client relationships. Following this, Ollie moved back to London where he began specialising in mortgages. His drive, ambition and natural flair for anticipating the needs of his clients led him to progress quickly from Client Services to broker, where he honed his skillset after passing his CeMap exams. Outside of work, Ollie is an avid traveller – and an equally keen supporter of his local club, Fulham FC.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 col-lg-3 service-guide-padding">
      <div class="guide-card team">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566928993/ART-Photography-Team-Shyan.jpg">
        <h3>Shyan Zubair</h3>
        <h4 class="mb-0 mt-1">Managing Director</h4>
        <div class="team-lines">
          <table>
            <tr>
              <td><h6>E:</h6></td>
              <td>
                <a href="mailto:shyan@articusfinance.co.uk">shyan@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio">
      <div>
        <p>
        Shyan is a global businessman with keen commercial acumen and a deep understanding of the UK property market. Following the successful completion of an undergraduate and postgraduate degree in Mathematics from King’s College London, Shyan has held a range of highly strategic roles. During his career, he has tackled challenges from working as an operational research analyst for the NHS to driving commercial growth for a global textile and garment company. He has significant experience in the world of property trading, and has played a pivotal role in the completion of a number of large scale development projects with values up to £30 million.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 col-lg-3 service-guide-padding">
      <div class="guide-card team">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566928985/ART-Photography-Team-Antonia-m.jpg">
        <h3>Antonia Grieve</h3>
        <h4 class="mb-0 mt-1">Office Manager</h4>
        <div class="team-lines">
          <table>
            <tr>
              <td><h6>E:</h6></td>
              <td>
                <a href="mailto:antonia@articusfinance.co.uk">antonia@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio">
<!--       <div>
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div> -->
    </div>
  </div>
</div>

<%= render 'shared/services' %>

<%= render 'shared/contact_banner_pattern' %>
