<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <p class="banner-sub-text">The Team</p>
    <!-- <p class="banner-elevator-text">Purchase Mortgages</p> -->
  </div>
</div>

<div class="sub-service-container" style="margin-top: 80px;">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 service-guide-padding">
      <div class="guide-card">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1564044042/antonio.png">
        <h3 style="margin: 1.5rem 0 0rem 0; color: #093031;">Antonio Michael</h3>
        <p class="mb-3 mt-1" style="color: #093031; ">Director</p>
        <div class="mb-4 team-lines">
          <table>
            <tr>
              <td style="color: rgba(0,0,0,0.5);">Telephone:</td>
              <td>
                <a href="tel:02070000000" style="font-size: 12px;">0207 000 0000</a>
              </td>
            </tr>
            <tr>
              <td style="color: rgba(0,0,0,0.5);">Email:</td>
              <td>
                <a href="mailto:antonio@articusfinance.co.uk" style="font-size: 12px;">antonio@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-6">
      <div style="line-height: 25px;">
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sub-service-container" style="margin-top: 80px;">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 service-guide-padding">
      <div class="guide-card">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1564047798/oliver.jpg">
        <h3 style="margin: 1.5rem 0 0rem 0; color: #093031;">Oliver Hines-Lloyd</h3>
        <p class="mb-3 mt-1" style="color: #093031;">Mortgage Broker</p>
        <table class="mb-4">
          <tr>
            <td style="color: rgba(0,0,0,0.5);">Telephone:</td>
            <td>
              <a href="tel:02070000000" style="font-size: 12px;">0207 000 0000</a>
            </td>
          </tr>
          <tr>
            <td style="color: rgba(0,0,0,0.5);">Email:</td>
            <td>
              <a href="mailto:oliver@articusfinance.co.uk" style="font-size: 12px;">oliver@articusfinance.co.uk</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-10 col-md-6">
      <div style="line-height: 25px;">
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/services' %>

<%= render 'shared/contact_banner_pattern' %>
