<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565550075/AdobeStock_113326122_Preview.jpg);">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <div>
      <h3>The Team</h3>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 service-guide-padding">
      <div class="guide-card team">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1564044042/antonio.png">
        <h3>Antonio Michael</h3>
        <h4 class="mb-3 mt-1">CEO</h4>
        <div class="mb-4 team-lines">
          <table>
            <tr>
              <td><h6>Telephone:</h6></td>
              <td>
                <a href="tel:02070000000">0207 000 0000</a>
              </td>
            </tr>
            <tr>
              <td><h6>Email:</h6></td>
              <td>
                <a href="mailto:antonio@articusfinance.co.uk">antonio@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio paragraph">
      <div>
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 service-guide-padding">
      <div class="guide-card team">
        <img src="">
        <h3>Shyan Zubair</h3>
        <h4 class="mb-3 mt-1">Managing Director</h4>
        <div class="mb-4 team-lines">
          <table>
            <tr>
              <td><h6>Telephone:</h6></td>
              <td>
                <a href="tel:02070000000">0207 000 0000</a>
              </td>
            </tr>
            <tr>
              <td><h6>Email:</h6></td>
              <td>
                <a href="mailto:antonio@articusfinance.co.uk">shyan@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio paragraph">
      <div>
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 service-guide-padding">
      <div class="guide-card team">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1564047798/oliver.jpg">
        <h3>Oliver Hines-Lloyd</h3>
        <h4 class="mb-3 mt-1">Founding Director</h4>
        <div class="mb-4 team-lines">
          <table>
            <tr>
              <td><h6>Telephone:</h6></td>
              <td>
                <a href="tel:02070000000">0207 000 0000</a>
              </td>
            </tr>
            <tr>
              <td><h6>Email:</h6></td>
              <td>
                <a href="mailto:antonio@articusfinance.co.uk">oliver@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio paragraph">
      <div>
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 service-guide-padding">
      <div class="guide-card team">
        <img src="">
        <h3>Antonia Grieve</h3>
        <h4 class="mb-3 mt-1">Office Manager</h4>
        <div class="mb-4 team-lines">
          <table>
            <tr>
              <td><h6>Telephone:</h6></td>
              <td>
                <a href="tel:02070000000">0207 000 0000</a>
              </td>
            </tr>
            <tr>
              <td><h6>Email:</h6></td>
              <td>
                <a href="mailto:antonio@articusfinance.co.uk">antonia@articusfinance.co.uk</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 team-bio paragraph">
      <div>
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <p>
        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/services' %>

<%= render 'shared/contact_banner_pattern' %>
