<div class="col-12 col-sm-6 col-md-3">
  <%= link_to buildings_contents_insurance_path do %>
    <div class="card-style service-card service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.5),rgba(25,31,31,0.5)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565537262/AdobeStock_253292907_Preview.jpg);background-position: right;">
      <div class="service-card-title">
        <h3>Buildings and Contents Insurance</h3>
      </div>
      <div class="service-card-padding">
        <button class="home-btn">Read More</button>
      </div>
    </div>
  <% end %>
</div>
