<div class="col-12 col-sm-6 col-md-3">
  <%= link_to buy_to_let_mortgage_limited_company_path do %>
    <div class="card-style service-card service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049054/14_Hazeldine_20140413_1150639_Screen.jpg);">
      <div class="service-card-title">
        <h3>BTL Limited Company Mortgages</h3>
      </div>
      <div class="service-card-padding">
        <button class="home-btn">Read More</button>
      </div>
    </div>
  <% end %>
</div>
