<div class="col-12 col-sm-6 col-md-3">
  <%= link_to buy_to_let_mortgages_in_the_UK_path do %>
    <div class="card-style service-card service-card-quad" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049036/12_Hazeldine_20190813_MH15664_Screen.jpg);">
      <div class="service-card-title">
        <h3>BTL Purchase Mortgages</h3>
      </div>
      <div class="service-card-padding">
        <button class="home-btn">Read More</button>
      </div>
    </div>
  <% end %>
</div>
