.blog-row {
  @media (max-width: 767px) {
    margin-left: 48px;
    margin-right: 48px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-left: 48px;
    margin-right: 48px;
  }
  @media (min-width: 1200px) {
    margin-left: 80px;
    margin-right: 80px;
  }
}
.blog {
  box-shadow: 0px 1px 20px rgba(100,100,100,.1);
  background-color: white;
  padding: 0 0px 0px 0px;
  transition: all .3s ease-out;
  &:hover {
    padding: 0px 0px 20px 0px;
    box-shadow: 0px 1px 20px rgba(100,100,100,.3);

  }
  a:hover {
    color: rgb(0,0,0);
  }
}
.blog-image {
  position: relative;
  // overflow: hidden;
 }
.blog img {
  height: 170px;
  transition: all .3s ease-out;
  width: 100%;
  object-fit: cover;
}
.blog:hover img {
  height: 150px;
  transform: scale(1.01);
}
.blog-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: .1;
  bottom: 0;
  transition: opacity .3s ease-out;
}
.blog:hover .blog-img-overlay {
  opacity: .3;
}
.blog-text-box {
  padding: 22px 22px 0 18px;
}
.blog-text-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .05s ease-out;
  padding-right: 32px;
  bottom: -110px;
  @media (min-width: 566px) and (max-width: 768px) {
    bottom: -100px;
  }
    @media (max-width: 565px) {
    bottom: -90px;
  }
}
.blog-hover:hover .blog-text-overlay {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.8s;
}
.blog-card-title {
  text-transform: uppercase;
  letter-spacing: .7px;
  line-height: 16px;
  margin-bottom: 8px;
  font-family: Montserrat;
  font-size: 14px;
  height: 48px;
  @media (max-width: 765px) {
    height: 32px;
  }
}
.appearing-text {
  font-size: 11px;
  opacity: 0;
  transition: opacity .05s ease-out;
  // font-family: Montserrat;
  color: rgba(0,0,0,.5);
}
.blog:hover .appearing-text {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.8s;
  color: rgba(0,0,0,.5);
}
