.contact-banner {
  text-align:center;
  max-width: none;
  padding: 75px 0;
  color: white;
  button {
    background-color: rgba(255,255,255,.3);
    color: white;
    border: 0.5px solid rgba(255,255,255,.7);
  }
  button:hover {
    background-color: rgba(255,255,255,1);
    color: black;
    border: 0.5px solid white;
  }
}
.contact-banner-green {
  background-color: #093031;
}
.pattern {
  background-image: url(background-pattern.png);
  background-size: cover;
  background-position: bottom;
}
