.contact-banner {
  text-align:center;
  max-width: none;
  padding: 75px 0;
  color: white;
  a {
    letter-spacing: 0.8px;
    font-weight: 100;
  }
}
.contact-links {
  color: white;
  a {
    transition: .2s ease-in-out;
    color: white;
    &:hover {
      color: rgba(255,255,255,0.5);
      text-decoration: underline;
    }
  }
}
.contact-btn {
  background-color: rgba(255,255,255,.3);
  color: white;
  border: 0.5px solid rgba(255,255,255,.7);
  &:hover {
    background-color: rgba(255,255,255,1);
    color: black;
    border: 0.5px solid white;
  }
}
.contact-banner-green {
  background-color: #093031;
}
.pattern {
  background-image: url(background-pattern.png);
  background-size: cover;
  background-position: bottom;
}
