.footer {
  background-color: #DDDDDD;
  p {
    font-weight: 400;
  }
  a:hover {
    text-decoration: underline;
    color: rgb(0,0,0);
  }
  button {
    border: 0.5px solid rgba(0,0,0,.6);
    background-color: #DDDDDD;
  }
  button:hover {
    background-color: #15393B;
    color: white;
    border: 0.5px solid #15393B;
  }
}
.footer-padding {
  padding: 64px 0;
  @media (min-width: 992px) {
    padding: 80px 0;
  }
}
.footer-form-header {
  @media (min-width: 576px) {
    margin-bottom: 8px;
  }
  @media (max-width: 575px) {
    width: 75%;
    text-align: center;
    margin: 0 auto 12px auto;
  }
}
.footer .form-control {
  font-size: 12px;
}
.footer .fab {
  color: white;
  background-color: #15393B;
  border-radius: 16px;
  font-size: 16px;
  padding: 8px;
}
.footer-margin {
  @media (max-width: 575px) {
    margin-bottom: 50px;
  }
}
.footer-newsletter {
  font-size: 10px;
  @media (max-width: 575px) {
    text-align: justify;
  }
}
.footer-logo {
  width: 150px;
}
.center-footer {
  @media (min-width: 768px) {
    position: relative;
  }
}
.center-footer-inner {
  @media (min-width: 768px) {
    margin: 0;
    position: absolute;
    top: 50%; -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.footer-company-details {
  p {
    font-size: 10px;
  }
  a {
    text-decoration: underline;
  }
}
