.form-control {
  font-size: 11px;
  margin-bottom: 9px;
  color: #495057;
  font-family: 'Montserrat';
}
#enquiry {
  height: 100px;
}
input#enquiry {
   padding: 0px 12px 60px 12px;
}
.contact-page-form {
  padding: 3rem 0;
  background-color: $bottle;
  h4 {
    text-transform: uppercase;
    color: $white;
  }
  @media (min-width: 1200px) {
    padding: 5rem 0;
  }
}
