.guide-home-container {
  max-width: none;
  padding: 0 64px;
  @media (min-width: 992px) {
    padding: 0 100px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
.guide-home-container .home-btn {
  background-color: #F4F4F4;
  &:hover {
    background-color: #15393B;
  }
}
.guide-padding {
  @media (min-width: 576px) and (max-width: 767px) {
    padding: 0 48px 20px 48px;
  }
  @media (min-width: 768px) {
    padding: 0 32px;
  }
}
.service-guide-padding {
  @media (min-width: 992px) {
    padding: 0 48px 0 24px;
  }
}
.guide-card img {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  &:hover {
    cursor: pointer;
  }
}
.guide-card h5 {
  margin-top: 18px;
  font-size: 12px;
}
.guide-card:hover .light-btn {
  color: $white;
  background-color: #15393B;
  border: 0.5px solid #15393B;
}
.guide-card .btn-container {
  text-align: center;
  // margin: 24px 0;
  margin: 14px 0;
}
.guide-button-container {
  text-align: center;
  padding-bottom: 64px;
}
.guide-button-container .home-btn {
  padding: 10px 20px;
  border: 0.5px solid rgba(0,0,0,.6);
  @media (max-width: 575px) {
    padding: 10px 13px;
  }
  &:hover {
    background-color: #15393B;
    color: $white;
    border: 0.5px solid #15393B;
  }
}
