.guide-home-container {
  max-width: none;
  padding: 0 64px;
  // @media (max-width: 575px) {
  //   padding: 0 32px;
  // }
  @media (min-width: 992px) {
    padding: 0 100px;
  }
}
.guide-padding {
  // @media (max-width: 575px) {
  //   padding: 0 20px;
  // }
  @media (min-width: 576px) and (max-width: 767px) {
    padding: 0 48px 20px 48px;
  }
  @media (min-width: 768px) {
    padding: 0 32px;
  }
}
.guide-card {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 2px 4px rgba(0,0,0,.3);
  }
  button {
    width: 100%;
    border: 0.5px solid rgba(0,0,0,.4);
  }
  button:hover {
    background-color: #15393B;
    color: white;
    border: 0.5px solid #15393B;
  }
}
.guide-card .btn-container {
  text-align: center; margin: 24px 0;
}
.guide-button-container {
  text-align: center;
  button {
    padding: 10px 20px;
    border: 0.5px solid rgba(0,0,0,.6);
  }
  button:hover {
    background-color: #15393B;
    color: white;
    border: 0.5px solid #15393B;
  }
}
