.carousel-control-next {
  right: -50px;
  opacity: 1;
}
.carousel-control-prev {
  left: -50px;
  opacity: 1;
}
.carousel .fas {
  color: $white;
  background-color: #15393B;
  border-radius: 26px;
  font-size: 10px;
}
.carousel .fa-chevron-left {
  padding: 9px 12px 9px 10px;
}
.carousel .fa-chevron-right {
  padding: 9px 10px 9px 12px;
}
