.dropdown-toggle::after {
  display: none;
}
.navbar-expand-lg .navbar-nav {
  @media (min-width: 992px) {
    margin: auto;
  }
}
li.dropdown:hover > .dropdown-menu {
  @media (min-width: 992px) {
    display: block;
  }
}
.navbar {
  font-size: 12px;
  background-color: #093031;
  padding: 0px;
  width: 100%;
}
.navbar-nav .dropdown-menu {
  background-color: #093031;
}
.navbar-nav .dropdown-item {
  color: white;
  font-size: 12px;
  letter-spacing: 0.7px;
  font-weight: 100;
  transition: .2s ease-in-out;
  padding: 0.3rem 1.4rem;
  &:hover {
    background-color: #093031;
    color: #DDDDDD;
    transition: .2s ease-in-out;
    text-decoration: underline;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  @media (min-width: 992px) {
    padding: 12px 0;
    left: -8px;
  }
    @media (min-width: 1200px) {
    left: -6px;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: white !important;
  letter-spacing: 0.7px;
  padding: 14px;
  font-size: 12px;
  font-weight: 100;
  transition: .2s ease-in-out;
  &:hover {
    color: #DDDDDD;
  }
  @media (min-width: 992px) {
    padding: 12px 16px;
    text-transform: uppercase;
  }
  @media (min-width: 1200px) {
    padding: 12px 20px;
  }
}
.navbar-nav li:first-child {
  @media (max-width: 992px) {
    border-top: none;
  }
}
.navbar-nav li {
  @media (max-width: 992px) {
    border-top: 0.5px solid rgba(255,255,255,0.5);
    // padding: 14px;

  }
}
.nav-item i {
  margin-top: 6px;
  font-size: 8px;
}
.dropdown-menu {
  padding: 0 0 1rem 0;
  margin-top: -1px;
  border: none;
}
.navbar-dark .navbar-toggler {
  border-color: #093031;
  outline: 0;
}
.rotate-mortgage{
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.rotate-mortgage.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
