.proven-expertise {
  max-width: none;
  background-color: #15393B;
  color: $white;
}
.proven-expertise-img {
  background-size: cover;
  background-position: center;
}
.expertise-text-box {
  padding: 40px 32px;
  @media (max-width: 575px) {
    padding: 56px 32px;
  }
  @media (min-width: 768px) {
    padding: 72px 48px 72px 32px;
  }
  @media (max-width: 575px) {
    text-align: center;
  }
}
