.nav-z-index {
  z-index: 1000;
}
.navbar-logo {
  width: 120px;
  // @media (min-width: 1200px) {
  //   width: 120px;
  // }
}
.sub-nav ul {
  list-style-type: none;
  margin: 0;
}
.sub-nav {
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 1px;
}
.sub-nav button {
  font-size: 10px;
  border-radius: 15px;
  background-color: #093031;
  color: white;
  padding: 4px 12px;
  font-weight: 100;
  letter-spacing: 0.4px;
  margin-right: 40px;
  outline: none;
  border: 0.5px solid rgba(9,48,49,0);
  box-shadow: 1px 1px 4px rgba(0,0,0,.4);
  text-transform: uppercase;
  transition: .2s ease-in-out;
  button:focus {
   outline: none;
  }
  &:hover {
  background-color: white;
  color: #093031;
  border: 0.5px solid rgba(9,48,49,.7);
  }
}
.sub-nav li {
  border-left: 1px solid #dcdcdc;
  padding: 6px 14px;
  font-size: 11px;
  text-transform: uppercase;
}
.sub-nav li:first-child {
    border-left: 0;
}
