.nav-z-index {
  z-index: 1000;
}
.navbar-logo {
  width: 140px;
}
.sub-nav ul {
  list-style-type: none;
  margin: 0;
  margin: 0 16px 0 0;
}
.sub-nav {
  background-color: $white;
  width: 100%;
  padding-bottom: 1px;
}
.sub-nav-btn {
    font-size: 11px;
    border-radius: 15px;
    background-color: $bottle;
    color: $white;
    padding: 5px 28px;
    font-weight: 100;
    letter-spacing: 0.4px;
    margin-right: 64px;
    outline: none;
    border: 0.5px solid rgba(9,48,49,0);
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    text-transform: uppercase;
    transition: .2s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $white;
    color: $bottle;
    border: 0.5px solid rgba(9,48,49,.7);
    text-decoration: none;
  }
}
.sub-nav li {
  border-left: 1px solid #dcdcdc;
  padding: 6px 14px;
  font-size: 12px;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    font-size: 13px;
  }
}
.sub-nav li:first-child {
    border-left: 0;
}
.sub-nav li a:hover {
  text-decoration: underline;
  color: rgb(0,0,0);
}
