.icon {
  font-size: 25px;
  margin: 6px 22px 0px 14px;
}
.usp-container {
  margin: 80px auto;
  color: black;
  @media (max-width: 575px) {
    padding: 0 40px;
  }
  h1 {
    font-family: Montserrat;
    letter-spacing: 0.7px;
    font-size: 13px;
    line-height: 1.5;
  }
}

